* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

figcaption {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
}

img,
picture,
video,
iframe {
    display: block;
    width: 100%;
    height: initial;
}

form, input, label, select, option, textarea, button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
}

/* Fin Reset */

  /* dancing-script-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/dancing-script-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    font-size: 100%;
    --color-golden: rgb(121, 99, 55);
    --color-red: rgb(169,32,46);
    --color-redondo: rgb(255, 255, 255, 0.6);
    --color-white: white;
    --color-sivel: rgb(179,184,182);
    --color-black: black;
    --color-cream: rgb(248, 245, 241);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--color-red);
    font-style: normal;
    font-weight: 400;
    position: relative;
}

.Header {
    width: 95%;
    max-width: 1600px;
    border-radius: 20px;
    margin: auto;
    position: sticky;
    top: 0.5rem;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: var(--color-cream);
    border: 1px solid var(--color-red);
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.5);
}

.Logo {
    font-family: 'Dancing Script';
    font-weight: 700;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Logo-rojo {
    color: var(--color-red);
    font-size: 1.8em;

}
.Logo-dorado {
    color: var(--color-golden);
}

.Header-btn {
    font-size: 1.5rem;
    display: none;
    color: var(--color-red);
}

.Nav-ul {
    color: var(--color-red);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

/* CARROUSEL  */

.Carrousel {
    width: 90%;
    max-width: 1400px;
    position: relative;
    overflow: hidden; 
    margin: 3rem auto 5rem;
    border-radius: 40px;
}

.Carrousel-container {
    width: 400%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: all 2s ease;
    box-shadow: 15px 9px 30px 6px rgba(0,0,0,0.61);
}

.Carrousel-img {
    background-color: aquamarine;
}

.Carrousel-arrow {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 2rem;
    height: 5rem;
    width: 3.5rem;
    position: absolute;
    top: calc(50% - 2.5rem);
    transition: background-color 0.5s ease-in;
}

.Carrousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.Carrousel-arrow--next {
    right: 0;
}

.Carrousel-arrow--prev {
    left: 0;
}

.Carrousel-span {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.5s ease-in;
}

.Carrousel-span:hover {
    color: rgba(255, 255, 255, 0.9);
}

.Carrousel-ul {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Carrousel-btn {
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

.Carrousel-btn.isActive {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}

.Carrousel-h1 {
    width: 100%;
    color: var(--color-white);
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 3em;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 4px var(--color-black);
    transition: transform 0.3s ease;
}

.Carrousel-h1:hover {
    transform: scale(1.1);
}

/* index.html secctions San Francisco */

.Excursiones-grid,
.Barrio,
.SanFrancisco {
    background-color: var(--color-cream);
    width: 90%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto 5rem;
    border-radius: 20px;
}

.Barrio-wrapper,
.SanFrancisco-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.SanFrancisco-picture,
.Barrio-picture {
    width: 100%;
}

.SanFrancisco-img,
.Barrio-img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
}

.Barrio-h2,
.SanFrancisco-h2 {
    color: var(--color-golden);
    font-size: 2em;
    font-weight: 600;
    padding: 0 0 1rem;
    text-align: center;
}

.Barrio-p,
.SanFrancisco-p {
    text-align: center;
}

.SanFrancisco-Historia-picture {
    order: 1;
}


/* index.html article Sports */

.Sports {
    margin: 0 auto 5rem;
    background-color: var(--color-cream);
    width: 90%;
    max-width: 1400px;
    margin: 0 auto 5rem;
    border-radius: 20px;
    padding: 2rem;
}

.Sports-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
}

.Sports-h3 {
    color: var(--color-golden);
    font-size: 2em;
    font-weight: 600;
    padding: 0 0 1.5rem;
    text-align: center;
}

.Sports-div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.Sports-grid > div:first-child {
    grid-column: span 3;
}

.Sports-div:nth-child(2) {
    grid-column: span 2;
}

.Sports-div:nth-child(3) {
    grid-row: span 2;
}

.Sports-div:nth-child(4) {
    grid-column: span 2;
}

.Sports-div:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
}

.Sports-div:nth-child(6) {
    grid-column: span 2;
}


.Excursiones-picture,
.SanFrancisco-picture,
.Sports-picture,
.Barrio-picture {
    width: 100%;
}

.Excursiones-img,
.SanFrancisco-img,
.Sports-img,
.Barrio-img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
}

.Sports-p--title {
    color: var(--color-red);
}

.Sports-p {

}

/* index.html register form */

.Register-Form {
    width: 90%;
    max-width: 1400px;
    border-radius: 20px;
    background-color: var(--color-cream);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto 5rem;
}

.Register-Label {
    color: var(--color-red);
}

.Register-Row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.Register-h3 {
    color: var(--color-golden);
    font-size: 2em;
    font-weight: 600;
    padding: 0 0 1.5rem;
    text-align: center;
}

.Register-ColumnLeft {
    text-align: right;
}

.Register-ColumnRight {
    text-align: left;
}

.Register-Input {
    width: 50%;
    border: 0;
    border-bottom: 1px solid var(--color-golden);
    background: var(--color-cream);
    color: var(--color-golden);
    outline: 0;
    margin: 0 0 1rem;
}

.Register-Select {
    border: 0;
    border-bottom: 1px solid var(--color-golden);
    background: var(--color-cream);
    color: var(--color-golden);
    outline: 0;
    margin: 0 0 1rem;
}

select:invalid {
    opacity: 0.5;
}

.Register-Textarea {
    width: 50%;
    line-height: 1.5em;
    border: 0;
    border-bottom: 1px solid var(--color-golden);
    background: var(--color-cream);
    color: var(--color-golden);
    outline: 0;
    margin: 0 0 2rem;
}

.Register-Textarea::placeholder,
.Register-Input::placeholder {
    color: var(--color-golden);
    font-size: 0.8rem;
    opacity: 0.5;
}

.Register-CheckboxWrapper {
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
}

.Register-Checkbox {
    margin: 0 0.6rem 0 0;
    accent-color: var(--color-golden)
}

.submit {
    background-color: var(--color-golden);
    border-radius: 4px;
    color: var(--color-cream);
    font-size: 20px;
    padding: 0.5rem 1rem;
    margin: 10px;
    border: 1px solid var(--color-golden);

    transition: all 500ms ease;
}

.submit:hover {
    background-color: var(--color-cream);
    color: var(--color-golden);
}

/* FOOTER */

.Footer {
    width: 100%;
    background-color: var(--color-cream);
    padding: 2rem 0;
}

.Footer-Wrapper {
    width: 95%;
    max-width: 1400px;
    padding: 2rem;
    margin: auto;
    border: 1px solid var(--color-red);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

.Footer-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.Footer-li {
    color: var(--color-red);
}

.Rrss {
    border-bottom: 1px solid var(--color-golden);
    width: 134px;
    margin: auto;
}

.Rrss-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 0.5rem;
}

.Rrss-img {
    transition: transform 30ms ease;
}

.Rrss-img:hover {
    transform: scale(1.1);
}

/* ****************************************************************************** */
/* PAGINA: Bridge css code*/
.Bridges-h1,
.Barrios-h1 {
    width: 100%;
    color: var(--color-white);
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.Bridges {
    width: 90%;
    max-width: 1400px;
    border-radius: 20px;
    background-color: var(--color-cream);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto 5rem;
}

.Bridges-UpperWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.Bridges-picture {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    /* Añadir un max height */
}

.Bridges-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.Bridges-h2 {
    color: var(--color-golden);
    font-size: 2em;
    font-weight: 600;
    padding: 1.5rem 0;
    text-align: center;
}

.Bridge {

}

.Bridge-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.Bridge-button {
    width: 100%;
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--color-cream);
    transition: border-bottom 0.3s ease-in;
}

.Bridge-button.isActive {
    border-bottom: 1px solid var(--color-golden);
}

.Bridge-paragraphs {
    position: relative;
}

.Bridge-p {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: opacity 0.3s ease-in;
}

.Bridge-p:first-child {
    position: static;
}

.Bridge-p.isActive {
    opacity: 1;
}

/* ****************************************************************************** */
/* PAGINA: excursiones css code*/

.Excursiones-background {
    width: 100%;
    background-color: gray;
    transform: translateY(-71px);
    position: relative;
    height: 90vh;
    background-image: url(../assets/img-excursiones/excursiones-paralax-2000px-web.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.Excursiones-h1 {
    width: 100%;
    color: var(--color-white);
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 3em;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateY(30px);
    text-shadow: 0px 0px 4px var(--color-black);
}

.Excursiones-grid {
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
    overflow: hidden;
}

.Excursiones-wrapper {
    position: relative;
    transition: transform 0.5s ease;
}

.Excursiones-wrapper:hover {
    transform: scale(1.1);
}

.Excursiones-h2 {
    color: var(--color-white);
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

/* Dispositivos pequeños (tablets en vertical y teléfonos grandes, más de 600px) */
@media screen and (max-width: 768px) {
    .Header-btn {
        display: block;
        padding: 0 1rem 0 0;
        cursor: pointer;
    }

    .Header-nav {
        display: none;
        width: 100%;
    }

    .Header-nav.isActive {
        display: block;
    }

    .Nav-ul {
        padding: 0.5rem 0;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .Carrousel {
        width: 95%;
        margin: 2rem auto 2rem;
        border-radius: 20px;
    }

    .Carrousel-btn {
        width: 0.7rem;
        height: 0.7rem;
    }

    .Carrousel-h1 {
        font-size: 2em;
    }

    .Barrio,
    .SanFrancisco,
    .Excursiones-grid {
        width: 95%;
        margin: 0 auto 2rem;
        gap: 1rem;
        padding: 1rem;
    }

    .Barrio {
        grid-template-columns: 1fr;
    }
    
    .Sports {
        width: 95%;
        margin: 0 auto 2rem;
        border-radius: 20px;
        padding: 1rem;
    }
    
    .Sports-grid {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 1rem;
    }
    
    .Sports-h3 {
        padding: 0 0 1rem;
        font-size: 1.5em;
    }

    .Excursiones-picture,
    .Sports-picture {
        border-radius: 10px;
    }

    .Register-Form {
        width: 95%;
        margin: 0 auto 2rem;
        padding: 1rem;
    }

    .Register-h3 {
        color: var(--color-golden);
        font-size: 1.5em;
        font-weight: 600;
        padding: 0 0 1.5rem;
        text-align: center;
    }

    .Register-Input {
        width: 100%;
    }

    .Register-Textarea {
        width: 100%;
    }

    .Footer {
        width: 100%;
        background-color: var(--color-cream);
        padding: 1rem 0;
    }
    
    .Footer-Wrapper {
        width: 95%;
        padding: 1rem;
    }
}

/* Dispositivos muy pequeños (teléfonos, de 600px o menos) */
@media (max-width: 600px) {
    .SanFrancisco-h1 {
        font-size: 1.5em;
    }

    .SanFrancisco-h2 {
        font-size: 1.5em;
    }

    .Carrousel {
        margin: 1.5rem auto 2rem;
    }

    .Sports-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .Sports-grid > div:first-child {
        grid-column: span 2;
    }
    
    .Sports-div:nth-child(2) {
        grid-column: span 2;
    }
    
    .Sports-div:nth-child(3) {
        grid-row: span 2;
        grid-column: span 1;
    }
    
    .Sports-div:nth-child(4) {
        grid-row: span 2;
        grid-column: span 1;
    }
    
    .Sports-picture {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    
    .Sports-p--title {
        color: var(--color-red);
    }

    .Register-Row {
        display: grid;
        grid-template-columns: 100%;
        gap: 0.5rem;
        margin: 0 0 0.8rem;
    }
    
    .Register-ColumnLeft {
        text-align: left;
    }

    .Register-Textarea{
        margin: 0 0 1rem;
    }

    .Footer-Wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
    .Footer-Logo {}
    
    .Footer-menu {}
    
    .Footer-ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    
    .Footer-li {
        color: var(--color-red);
    }
    
    .Rrss {
        border-bottom: 1px solid var(--color-golden);
        width: 134px;
        margin: auto;
    }
    
    .Rrss-li {
    
    }
    
    .Rrss-img {
        transition: transform 30ms ease;
    }
    
    .Rrss-img:hover {
        transform: scale(1.1);
    }

    .Excursiones-h1 {
        font-size: 1.5em;
    }

    .Excursiones-grid {
        grid-template-columns: repeat(3,1fr);
    }
}