* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

figcaption {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
}

img,
picture,
video,
iframe {
    display: block;
    width: 100%;
    height: initial;
}

form, input, label, select, option, textarea, button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
}

/* Fin Reset */

/* dancing-script-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/dancing-script-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* dancing-script-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/dancing-script-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/noto-sans-v36-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* noto-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* noto-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/noto-sans-v36-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* noto-sans-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/noto-sans-v36-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    font-size: 100%;
    --color-golden: rgb(129, 107, 63);
    --color-light-golden: rgba(200, 175, 130, 0.403);
    --color-red: rgb(169,32,46);
    --color-redondo: rgb(255, 255, 255, 0.6);
    --color-white: rgb(234,242,239);
    --color-sivel: rgb(179,184,182);
    --color-smoky-black: rgb(13,9,10);
    --color-cream: rgb(255, 247, 235);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    background-color: var(--color-light-golden);
}

/* Dancing Script   
Indie Flower
great vibes
Yellowtail
Mr Dafoe
Arizonia
norican
Style Script ***
rouge script ***
corinthia
meow script
carattere
*/

.Header {
    width: 95%;
    border-radius: 40px;
    margin: 1rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    font-weight: 600;
    padding: 0.8rem 2rem;
    background-color: var(--color-cream);
    border: 1px solid var(--color-red);
}

.Header-wrapperLeft {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo {
    font-family: 'Dancing Script';
    font-weight: 700;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cream);
}

.logo-rojo {
    color: var(--color-red);
    font-size: 1.8em;

}
.logo-dorado {
    color: var(--color-golden);
}

.Header-a {}

.Header-img {}

.Header-wrapperRight {

}

.Nav {
    
}

.Nav-hamburguerBtn {
    font-size: 1.5rem;
    display: none;
    color: var(--color-red);
}

.Nav-ul {
    padding: 0 1rem 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.Nav-li {
    color: var(--color-red);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Nav-a {}

.Carrousel {
    width: 90%;
    margin: 100px auto 0;
    background-color: cadetblue;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
}

.Carrousel-container {
    width: 400%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: all 2s ease;
    box-shadow: 15px 9px 30px 6px rgba(0,0,0,0.61);
}

.Carrousel-img {
    background-color: aquamarine;
}

.Carrousel-arrow {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 2rem;
    height: 5rem;
    width: 3.5rem;
    position: absolute;
    top: calc(50% - 2.5rem);
    transition: background-color 0.5s ease-in;
}

.Carrousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.Carrousel-arrow--next {
    right: 0;
}

.Carrousel-arrow--prev {
    left: 0;
}

.Carrousel-span {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.5s ease-in;
}

.Carrousel-span:hover {
    color: rgba(255, 255, 255, 0.9);
}

.Carrousel-ul {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Carrousel-btn {
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

.Carrousel-btn.isActive {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.2);
}










@media (max-width: 768px) {
    .Nav-hamburguerBtn {
        display: block;
        position: relative;
        justify-content: flex-end;
        margin-right: 1rem;
    }
    .Nav-ul {
        display: none;
    }
    .Nav-ul.isActive {
        background-color: var(--color-cream);
        width:100%;
        /* position: absolute; */
        display: flex;
        flex-flow: column nowrap;
        flex-direction: column;
        right: center;
        padding: 1rem;
        right: 0;
        border-bottom-left-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
    }
    .Nav-ul--sub.isActive {
        right: 99%;
        width: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-bottom-right-radius: 0;
        background-color: brown;
        padding: 0 1rem 1rem;
    }
}



